<section>
    <a href="https://github.com/MuradImanYch/Site-layout-FITNESS-Responsive" target="__blank">
        <div>
            <img src="../assets/img/fitnessPortfolio.png" alt="fitness" title="Перейти">
        </div>
        <h3>Site-layout-FITNESS-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан с использованием HTML + CSS. Респонсивный</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-FITNESS-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-SERVICE-Materialize-Responsive" target="__blank">
        <div>
            <img src="../assets/img/servicePortfolio.png" alt="service" title="Перейти">
        </div>
        <h3>Site-layout-SERVICE-Materialize-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан с использованием HTML + CSS + Materialise. Респонсивный на 40%</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-SERVICE-Materialize-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-MEDICAL-Bootstrap-Responsive" target="__blank">
        <div>
            <img src="../assets/img/medicalPortfolio.png" alt="medical" title="Перейти">
        </div>
        <h3>Site-layout-MEDICAL-Bootstrap-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт создан на HTML + CSS + Bootstrap. Респонсивный 90%</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-MEDICAL-Bootstrap-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-RESTAURANT-Responsive" target="__blank">
        <div>
            <img src="../assets/img/restaurantPortfolio.png" alt="restaurant" title="Перейти">
        </div>
        <h3>Site-layout-RESTAURANT-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан с использованием HTML + CSS. Респонсивный 40%</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-RESTAURANT-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-SWITCH-Flexbox-Responsive" target="__blank">
        <div>
            <img src="../assets/img/switchPortfolio.png" alt="switch" title="Перейти">
        </div>
        <h3>Site-layout-SWITCH-Flexbox-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан на HTML + CSS / Flexbox. Респонсивный 65%</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-SWITCH-Flexbox-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Advertising-banner-CSS-animation" target="__blank">
        <div>
            <img src="../assets/img/adPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Advertising-banner-CSS-animation</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Рекламный баннер с HTML + CSS. Присутствует CSS анимация</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Advertising-banner-CSS-animation'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Arcanoid-JS-Football-Edition" target="__blank">
        <div>
            <img src="../assets/img/arcanoidPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Arcanoid-JS-Football-Edition</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Игра сделана на HTML + CSS + JS</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Arcanoid-JS-Football-Edition'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Calculator-Responsive" target="__blank">
        <div>
            <img src="../assets/img/calculatorPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Calculator-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Калькулятор сделан на HTML + CSS + JS. Респонсивный</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Calculator-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-Fancybox" target="__blank">
        <div>
            <img src="../assets/img/fancyboxPortfolio.png" alt="fancybox" title="Перейти">
        </div>
        <h3>Site-layout-Fancybox</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан на HTML + CSS + JS. Элемент fancybox присутствует</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-Fancybox'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-FENERBAHCE-iframe" target="__blank">
        <div>
            <img src="../assets/img/fbPortfolio.png" alt="fs" title="Перейти">
        </div>
        <h3>Site-layout-FENERBAHCE-iframe</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт создан на HTML + CSS + iframe</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-FENERBAHCE-iframe'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Site-layout-POLO" target="__blank">
        <div>
            <img src="../assets/img/poloPortfolio.png" alt="fs" title="Перейти">
        </div>
        <h3>Site-layout-POLO</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Сайт сделан с использованием HTML + CSS. Некоторые элементы были вставлены как картинки.</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Site-layout-POLO'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Slider-1-JQuery-JSON-Responsive" target="__blank">
        <div>
            <img src="../assets/img/slider1Portfolio.png" alt="slider1" title="Перейти">
        </div>
        <h3>Slider-1-JQuery-JSON-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Слайдер был сделан на HTML + CSS + JS / JQuery + AJAX / JSON. Респонсивный</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Slider-1-JQuery-JSON-Responsive'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Slider-2-JQuery" target="__blank">
        <div>
            <img src="../assets/img/slider2Portfolio.png" alt="slider2" title="Перейти">
        </div>
        <h3>Slider-2-JQuery</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Слайдер был сделан на HTML + CSS + JS / JQuery. Примечание: щелкните слева от центра или справа от центра для прокрутки</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Slider-2-JQuery'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Slider-3-Jquery-Advanced" target="__blank">
        <div>
            <img src="../assets/img/slider3Portfolio.png" alt="slider2" title="Перейти">
        </div>
        <h3>Slider-3-Jquery-Advanced</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Слайдер был сделан на HTML + CSS + JS / JQuery. Примечание: щелкните слева от центра или справа от центра для прокрутки. Есть некоторые ошибки</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/Slider-3-Jquery-Advanced'"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/App-ReactJS-WEATHER-Responsive" target="__blank">
        <div>
            <img src="../assets/img/react-weather.png" alt="slider2" title="Перейти">
        </div>
        <h3>App-ReactJS-WEATHER-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Приложение было создано на ReactJS. Респонсивный</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/App-ReactJS-WEATHER-Responsive'"></i>
</section>