<section>
    <a href="https://github.com/MuradImanYch/Advertising-banner-CSS-animation" target="__blank">
        <div>
            <img src="../assets/img/adPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Advertising-banner-CSS-animation</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Рекламный баннер с HTML + CSS. Присутствует CSS анимация</p>
    <i class="fab fa-github"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Arcanoid-JS-Football-Edition" target="__blank">
        <div>
            <img src="../assets/img/arcanoidPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Arcanoid-JS-Football-Edition</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Игра сделана на HTML + CSS + JS</p>
    <i class="fab fa-github"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/Calculator-Responsive" target="__blank">
        <div>
            <img src="../assets/img/calculatorPortfolio.png" alt="ad" title="Перейти">
        </div>
        <h3>Calculator-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Калькулятор сделан на HTML + CSS + JS. Респонсивный</p>
    <i class="fab fa-github"></i>
</section>
<section>
    <a href="https://github.com/MuradImanYch/App-ReactJS-WEATHER-Responsive" target="__blank">
        <div>
            <img src="../assets/img/react-weather.png" alt="slider2" title="Перейти">
        </div>
        <h3>App-ReactJS-WEATHER-Responsive</h3>
    </a>
    <p class="titleBtn">Развернуть описание</p>
    <p class="title">Приложение было создано на ReactJS. Респонсивный</p>
    <i class="fab fa-github" onclick="return location.href = 'https://github.com/MuradImanYch/App-ReactJS-WEATHER-Responsive'"></i>
</section>