<div id="abtWrap">
    <h2>Обо мне</h2>
</div>
<div class="container">
    <div id="myPhoto">
        <img src="assets/img/myPhoto.png" alt="myPhoto">
    </div>
    <p>Меня зовут Мурад. Живу в г.Баку. Занимаюсь Фронт - Энд разработкой несколько лет. Начиная с 17-ти лет, записался на курсы Фронт - Энд в IT STEP Academy. Я выбрал именно это направление в IT, так как это один из самых востребованных профессиий в мире, а так же в IT сфере.</p>
    <h2>Образование</h2>
        <ul>
            <li>IT-курс: 2019 - 2020 | IT Step Academy - Front End | Баку, Кероглу Рагимова, 70</li>
            <li>Высшее образование: 2019 - | UNEC - Информационные технологии 2/4 курс | Баку, Низами</li>
        </ul>
    <h2>Навыки</h2>
    <ul>
        <li>HTML <div class="progress"></div></li>
        <li>CSS <div class="progress"></div></li>
        <li>JS <div class="progress"></div></li>
        <li>Bootstrap <div class="progress"></div></li>
        <li>Materialize <div class="progress"></div></li>
        <li>Responsive layout <div class="progress"></div></li>
        <li>Adaptive layout <div class="progress"></div></li>
        <li>Jquery <div class="progress"></div></li>
        <li>Angular <div class="progress"></div></li>
        <li>Node JS <div class="progress"></div></li>
        <li>AJAX <div class="progress"></div></li>
        <li>JSON <div class="progress"></div></li>
        <li>Photoshop <div class="progress"></div></li>
        <li>Git / Github <div class="progress"></div></li>
        <li>TS <div class="progress"></div></li>
    </ul>
    <p id="mail">✉ mura.imanov@gmail.com</p>
    <div id="aboutSocNetDiv">
        <a href="https://www.facebook.com/murad.imanov.142" target="__blank"><div class="square"></div></a>
        <a href="https://www.instagram.com/iamanych/" target="__blank"><div class="square"></div></a>
        <a href="https://www.linkedin.com/in/murad-imanov-354b28196/" target="__blank"><div class="square"></div></a>
        <a href="https://vk.com/muradimanovic" target="__blank"><div class="square"></div></a>
    </div>
</div>