<div class="swiper-container image-slider">
    <div class="swiper-wrapper image-slider-wrapper">
    <div class="swiper-slide image-slider-slide">
        <div class="image-slider-image"><h2 class="slideTitle" id="slideTitle">Добро пожаловать в <span>WEBDEV</span><span>CV</span></h2></div>
    </div>
    <div class="swiper-slide image-slider-slide">
        <div class="image-slider-image"><h2>Здесь много проектов</h2></div>
    </div>
    <div class="swiper-slide image-slider-slide">
        <div class="image-slider-image"><h2>Веб-разработка - это здорово!</h2></div>
    </div>
    </div>
    <div class="swiper-pagination sp"></div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-hero-progress"></div>
</div>
<section id="portfolio">
    <div class="container">
        <article>
            <h3>Портфолио</h3>
            <p>Здесь вы увидите множество проектов, которые я сделал за это время. Они различаются по содержанию, по дизайну, а так же по технологии.</p>
            <div id="portfolioImg">
                <a href="https://github.com/MuradImanYch/Site-layout-FITNESS-Responsive" target="__blank">
                    <div class="imgContainer">
                        <img src="assets/img/fitness.jpg" alt="img1" class="image">
                        <div class="overlay" title="Перейти">
                            <div class="text"><i class="fab fa-github"></i></div>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/MuradImanYch/Site-layout-MEDICAL-Bootstrap-Responsive" target="__blank">
                    <div class="imgContainer">
                        <img src="assets/img/medical.jpg" alt="img2" class="image">
                        <div class="overlay" title="Перейти">
                            <div class="text"><i class="fab fa-github"></i></div>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/MuradImanYch/Site-layout-SERVICE-Materialize-Responsive" target="__blank">
                    <div class="imgContainer">
                        <img src="assets/img/service.jpg" alt="img3" class="image">
                        <div class="overlay" title="Перейти">
                            <div class="text"><i class="fab fa-github"></i></div>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/MuradImanYch/Site-layout-SWITCH-Flexbox-Responsive" target="__blank">
                    <div class="imgContainer">
                        <img src="assets/img/switch.jpg" alt="img4" class="image">
                        <div class="overlay" title="Перейти">
                            <div class="text"><i class="fab fa-github"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <p>Подробнее в разделе ПОРТФОЛИО</p>
        </article>
    </div>
</section>
<section id="services">
    <div class="container">
        <article>
            <h3>Услуги</h3>
            <p>Здесь вы ознакомитесь с услугами Веб - разработки, которые я предлагаю.</p>
            <div id="servicesDiv">
                <div class="cards">
                    <div class="circleDiv">
                        <div class="circle">1</div>
                    </div>
                    <h4>Landing page</h4>
                    <p>Одностраничный сайт. Разрабатывается для конверсионной презентации товара или услуги...</p>
                </div>
                <img src="assets/img/serviceMain.jpg" alt="img">
                <div class="cards">
                    <div class="circleDiv">
                        <div class="circle">2</div>
                    </div>
                    <h4>Интернет магазин</h4>
                    <p>Сайт, имеющий каталог товаров и корзину для заказов. Покупатель может приобрести необходимые товары, выбрать варианты...
                    </p>
                </div>
            </div>
            <p>Подробнее в разделе УСЛУГИ</p>
        </article>
    </div>
</section>
<section id="about">
    <div class="container">
        <article>
            <h3>Обо мне</h3>
            <p>Меня зовут Мурад. Живу в г.Баку. Занимаюсь Фронт - Энд разработкой несколько лет. Начиная с 17-ти лет, записался на курсы Фронт - Энд в IT STEP Academy...</p>
            <div id="aboutSocNetDiv">
                <a href="https://www.facebook.com/murad.imanov.142" target="__blank"><div class="square"><i class="fab fa-facebook-f"></i></div></a>
                <a href="https://www.instagram.com/iamanych/" target="__blank"><div class="square"><i class="fab fa-instagram"></i></div></a>
                <a href="https://www.linkedin.com/in/murad-imanov-354b28196/" target="__blank"><div class="square"><i class="fab fa-linkedin-in"></i></div></a>
                <a href="https://vk.com/muradimanovic" target="__blank"><div class="square"><i class="fab fa-vk"></i></div></a>
            </div>
            <p>Подробнее в разделе ОБО МНЕ</p>
        </article>
    </div>
</section>
