<div id="svcWrap">
    <h2>Услуги</h2>
</div>
<section>
    <div class="container">
        <article>
            <div id="servicesDiv">
                <div class="rowDiv"><div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">1</div>
                    </div>
                    <h4>Landing page</h4>
                    <p>Одностраничный сайт. Разрабатывается для конверсионной презентации товара или услуги. Страница, которая призывает пользователя что-то сделать. Например, подписаться на рассылку, купить билет на конференцию, запросить смету или просто скачать презентацию.</p>
                    <div class="info"><ul>
                        <li>недорогой сайт для бизнеса</li>
                        <li>узнаваемость бренда в сети</li>
                        <li>увеличение продаж и прибыли</li>
                        <li>80₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div>
                <div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">2</div>
                    </div>
                    <h4>Интернет-магазин</h4>
                    <p>Сайт, имеющий каталог товаров и корзину для заказов, обеспечивает продажи через интернет. Покупатель может приобрести необходимые товары, выбрать варианты.
                    </p>
                    <div class="info"><ul>
                        <li>для продажи товаров и услуг</li>
                        <li>управление заявками по E-mail и онлайн</li>
                        <li>стильный современный дизайн</li>
                        <li>170₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div>
                <div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">3</div>
                    </div>
                    <h4>Сайт - бизнес</h4>
                    <p>Это продуктивное решение для фирм и компаний , желающих объединить в одном сайте всю информацию об организации, как для клиентов, так и для своих сотрудников.
                    </p>
                    <div class="info"><ul>
                        <li>сайт для организации</li>
                        <li>узнаваемость бренда в сети</li>
                        <li>увеличение продаж и прибыли</li>
                        <li>200₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div></div>
                <div class="rowDiv"><div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">4</div>
                    </div>
                    <h4>Сайт под ключ</h4>
                    <p>Это полностью функционирующий веб-ресурс со всеми необходимыми для работы сайта составляющими. Т.е. он уже имеет: 1. Домен | 2. Хостинг | 3. Скрипты | 4. Сопровождающие сервисы.
                    </p>
                    <div class="info"><ul>
                        <li>любые типы расчетных форм
                        </li>
                        <li>вывод результата и отправка e-mail</li>
                        <li>удобный способ расчета стоимости услуг</li>
                        <li>50₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div>
                <div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">5</div>
                    </div>
                    <h4>Продвижение веб-сайта | SEO</h4>
                    <p>Это комплекс мероприятий, направленных на улучшение внутренних и внешних показателей ресурса с целью повышения его видимости в поисковых системах.
                    </p>
                    <div class="info"><ul>
                        <li>отображение сайта в поиске</li>
                        <li>увеличение продаж и клиентов</li>
                        <li>поднятие позиций в поисковиках</li>
                        <li>20₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div>
                <div class="cards" title="Подробнее">
                    <div class="circleDiv">
                        <div class="circle">6</div>
                    </div>
                    <h4>Контекстная реклама</h4>
                    <p>Тип интернет-рекламы, при котором рекламное объявление показывается в соответствии с содержанием, выбранной аудиторией, местом, временем или иным контекстом интернет-страниц.
                    </p>
                    <div class="info"><ul>
                        <li>быстрый прирост целевой аудитории</li>
                        <li>повышение показателей продаж</li>
                        <li>увеличение позиции сайта</li>
                        <li>80₼</li>
                    </ul>
                    <button title="Заказать">Заказать</button>
                    </div>
                </div></div>
            </div>
        </article>
    </div>
</section>